.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
}

.toggler{
display: none;
}
.main h1{
  font-size: 3em;
  font-weight: bold;
  color: mediumpurple;
}
.lotteryinfo a{
  font-size: 0.9em;
}
.lotteryinfo ul li{
  list-style: none;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
